name: Example
on:
  - pull_request

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  example:
    runs-on: ubuntu-latest
    name: test
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        # Enable the following line to ignore errors from the action
        # continue-on-error: true
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          additional_rules: |
            [
              {
                "kind": "commit",
                "rule": "(?:1)",
                "message": "custom message! `{{commitId}}` is lucky! It contains {{matched}}"
              }
            ]
